:root {
  --primary-text-color: #2e2f42;
  --secondary-text-color: #434455;
  --background-color: #2e2f42;
  --link-button-active-color: #404bbf;
  --background-page-color: #ffffff;
  --logotype-web-color: #4d5ae5;
  --logotype-studio-down-color: #f4f4fd;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--secondary-text-color);
  background-color: var(--background-page-color);
}

/* COMPONENTS */

.chapter-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--primary-text-color);
}

.chapter-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.chapter-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

/* LOGOTYPE */

.logotype {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logotype-web-color);
}

.logotype-studio-up {
  color: var(--primary-text-color);
}

.logotype-studio-down {
  color: var(--logotype-studio-down-color);
}

/* HEADER */

.navigation-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.navigation-link:hover,
.navigation-link:focus {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--link-button-active-color);
}

.address {
  font-style: normal;
}

.address-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.address-link:hover,
.address-link:focus {
  color: var(--link-button-active-color);
}

/* HERO */
.hero {
  background-color: var(--background-color);
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--background-page-color);
}
.hero-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: var(--background-page-color);
  background-color: var(--logotype-web-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
  background: var(--link-button-active-color);
}

/* OUR TEAM */

.team {
  background-color: var(--logotype-studio-down-color);
}
.team-align {
  text-align: center;
}

.team-item {
  background-color: var(--background-page-color);
}

/* PORTFOLIO */
.menu-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--logotype-web-color);
  background-color: var(--logotype-studio-down-color);
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  cursor: pointer;
}

.menu-button:hover,
.menu-button:focus {
  color: var(--background-page-color);
  background-color: var(--link-button-active-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.portfolio-menu-item {
  border: 1px solid #e7e9fc;
}

/* FOOTER */
.page-end {
  background-color: var(--background-color);
}

.page-end-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--logotype-studio-down-color);
}
